@import '../../styles/settings.scss';

.component { 
  position: relative; 
  background: $color-dark;
  margin: 0 0 ($base-size * 3) 0;
  overflow: hidden;
  border-radius: 40%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.title {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 20%;
  text-transform: uppercase;
  color: $color-light;
  transform: translate(-50%,-50%);
}

.image {
  width: 40%;
  height: auto;
}
