@import '../../styles/settings.scss';

.component {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
}

.container {
  position: relative;
  border-radius: $radius;
  display: flex;
  cursor: pointer;
}

.close {
	display: inline-block;
	margin-left: auto;
	cursor: pointer;
  transition: $transition;
  &:hover {
    transform: rotate(50deg)
  }
  i {
    font-size: 15px;
  }
}

.simpleCard {
  border: 3px solid lighten($color-dark, 60%);
  padding: $base-size;
  width: 90%;
  height: 100px;
  border-radius: $radius;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/3785927/pexels-photo-3785927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  transition: $transition;
  &:hover {
    transform: scale(1.1);
  } 
  &:first-child {
    margin-top: 10px;
  }
  &:last-child {
    margin-bottom: 10px;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.title {
  color: $color-light;
  font-size: 20px;
}

.col {
  margin: 20px;
}

i {
  font-size: 100px;
}