@import '../../styles/settings.scss';

.component {
  background: darken($color-dark, 3%);
  padding: ($base-size * 1.5) 0;

  a {
    color: $color-light;
    text-decoration: none;
    font-weight: 700;
    margin-right: $base-size;
    transition: $transition;
    font-size: ($base-size * 1.5);
    &:hover {
      color: $color-success;
    }
    &:global(.active) {
      color: $color-warning;

    }
  }
}

.nav {
  position: relative;
  left: 100px;

}


.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

i {
  font-size: 24px;
}